h3 {
    margin-top: 36px;
    margin-bottom: 32px;
    width: 100%;
    color: #3a3a3a;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h4 {
    margin: 0;
    color: #3a3a3a;
    font-size: 24px;
    font-weight: bold;
}
